<div class="test">
    <h3>Đây là Component Home</h3>
    <br />

    <h1>Trái cây</h1>
    <ul *ngFor="let t of traiCay; let i = index">
        <li>{{ i + 1 }}. {{ t }}</li>
    </ul>
    <br />

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Đại hạ giá</th>
        </tr>
        <tr *ngFor="let t of traiCay2; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ t.ten | uppercase }}</td>
            <td class="right">
                <span [ngClass]="{ 'so-am' : t.gia < 0 }">{{
                  t.gia | currency:'USD':'symbol':'4.2-2'
                }}</span>
            </td>
            <td>
                <span>{{ t.haGia | onSale | uppercase }}</span>
            </td>
        </tr>

    </table>

</div>
